<!doctype html>
<html>
	<head>
		<title>
			{{#if title}}
				{{title}}
			{{else}}
				Twitter Grade Stats
			{{/if}}
		</title>
        <link href="https://fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
        <style>
            body {
                margin: 0;
                font-size: 20px;
                padding: 1vh 2vw;
                font-family: 'Sunflower', sans-serif;
            }
        </style>
        {{#> styles}}
        {{/styles}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<h1>{{title}}</h1>
		{{#> content}}
		{{/content}}
    <script src="/reload/reload.js"></script>
	</body>
</html>
