<!doctype html>
<html>
	<head>
		<title>
			{{#if title}}
				{{title}}
			{{else}}
				Twitter Grade Stats
			{{/if}}
		</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<h1>{{title}}</h1>
		{{#> content}}
		{{/content}}
	</body>
</html>
