<!doctype html>
<html>

<head>
    <title>
        {{#if title}} {{title}} {{else}} Twitter Grade Stats {{/if}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    {{#if deploy}} {{> analytics}} {{/if}}
    <style>
        body {
            margin: 0;
            font-size: 20px;
            padding: 1vh 2vw;
            font-family: 'Sunflower', sans-serif;
        }

        a {
            color: rgba(54, 162, 235, 1);
        }

        a:visited {
            color: rgba(54, 162, 235, 1);
        }

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.3em;
        }
    </style>
    {{#> styles}} {{/styles}}
</head>

<body>
    {{#> content}} {{/content}}
    {{#unless deploy}}
    <script src="/reload/reload.js"></script>
    {{/unless}}
</body>

</html>
