{{#> base}}

{{#* inline "styles"}}
<style>
    body {
        margin: 0 auto;
    }

    @media screen and (min-width: 60em) {
        body {
            width: 50vw;
        }
    }
</style>
{{/inline}}

{{#* inline "content"}}

<article>
    <h1>About this project</h1>

    <h2>Big Project, Little Background</h2>

    <p>This project is my second iteration of this whole "measuring the grade level of a tweet" business. The first time I wrote on this subject was for my high school AP statistics project. I made a quick and dirty static site, and with it discussed Trump's grade level compared to a fifth grader's.</p>

    <p>At the time, I thought it was a pretty good static site. As a static site, though, there were some issues I had with it if I wanted to take it to the next level; it wouldn't update over time, it had a very specific subject, and it wasn't easy for other people to take and use. In the project's questioning phase, there was some discussion about expanding it to apply to other people. I said I'd give it a shot.</p>

    <h2>Current Day</h2>

    <p>I guess this is me making good on that promise.</p>

    <p>Okay, it was also a pretty good experience. I wrote this while taking intro CS courses at UC Berkeley and after a few more months of exposure to good practices. I <em>think</em> my code is a little better than before, with more comments, and less magic. My inner designer is improving, putting the most important things first and making things look good on most screens. But most of all, this opportunity allowed me to rewrite from scratch &mdash; a new opportunity to write something good.</p>

    <p>Now, it looks a little better, inside and out. It does more than just @realDonaldTrump or @yanglangthang or any one handle; it can handle them all. It's pretty easy to use, and it doesn't really look like shit while doing it.</p>

    <p>Also, looking back on my old code <a href="https://github.com/guppy0130/twitter-readability">here</a>, I'm really glad I have a chance to redeem myself.</p>

    <h2>Closing</h2>

    <p>I'm really happy with how this project turned out. The code is available from <a href="https://github.com/guppy0130/twitter-grade-stats">Github</a> or <a href="https://gitlab.com/guppy0130/twitter-grade-stats">Gitlab</a>. I only ask that if you <em>do</em> modify and/or distribute the code, you link back to the original. Be excellent in your actions and intents.</p>

    <p>Interested in more of my projects? Visit my <a href="https://yanglang.now.sh">website</a> for more information, and even get in touch!</p>
</article>

{{/inline}}

{{/base}}
