{{#> base description="429 - Too many requests" title="Twitter Grade Stats - 429 Error"}}

{{#* inline "content"}}

<h1>429 Too Many Requests</h1>

<p>You've hit this page because we ran out of requests. Try again at {{time}}</p>

{{/inline}}

{{/base}}
