{{#> base}}

{{#* inline "content"}}
<form action='/user/' method="get">
	<input id="username" type="text" name="username" placeholder="Twitter handle">
	<input type="submit">
</form>
{{/inline}}
{{/base}}
